<!-- main.hbs-->
<!DOCTYPE html>
<html>

<head>
        <!-- Add icon library -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
    
</head>


<body>
    
    {{{body}}}

    <nav>
        <a href="/help">Help</a> |
        <a href="/about">About</a> |
        <a href="/">Super Grouper</a>
    </nav>

</body>


</html>