<h1>About</h1>
<p1>
    This product was created by a teacher for teachers but can be used for any group making purposes!
</p1>

<br><br>

<p1>Created by Trevor Phillips</p1>
<br>

<p1>Ideas, feedback or questions? E-mail me at:</p1>
<a href = "mailto: tphillipscs@gmail.com">tphillipscs@gmail.com</a>