<h1>Help</h1>

<div>
<h3>How to Use</h3>
<p1>
To use super grouper simply input the names you want to group on the left-hand entry bar. 
Then select the options you want for grouping.

You can choose to group by number of groups (default) or number per group.
If you choose a number of groups, the names will be shuffled and evenly dealt
into the number of groups you selected.

If you choose to group by number per group, the names will be dealt into each group
until each group has been filled with the number you selected.
</p1>

<h3>New features</h3>
<p1>
Category names are now supported! Underneath the grouping option you will 
see an option to group by category. The default grouping is by number (i.e.
Group 1, Group 2, Group 3, etc.). You can now choose to group by random colors
(i.e. Purple group, Red group, Blue group)
</p1>
</div>


<div>
<h3>Benefits of existing features</h3>
<p1>
This tool can be used to easily create random groupings from a list of names!
Flexibility is provided in how you group! You can group by number of groups
or by number of individuals per group using the first option. You can also
categorize groups by fun color names! If you want to get back to a previous Group
don't worry--simply press the "previous group" button to reach the Group
you had just generated beforehand. Have fun making groups!
</p1>
</div>

<div>
<h3>Costs of existing features</h3>
<p1>
Note that your grouping selection will affect how remainders are handled
in the event that groups do not divide evenly. Grouping by number of groups
will evenly deal names into the groups until there are no more names left.
Imagine dealing cards from a deck of cards, passing one card to each player
on each round.
</p1>
<br><br>
<p1>
If you choose to group by the number per group, each group will be randomly
filled with names until it reaches the desired number. If there is a remainder
the final group will receive all remaining names. This can result in the final group
having a much smaller number of individuals. For instance with 13 names, setting the 
the number per group to 4 will result in 3 groups of 4 and one group of 1.
</p1>
</div>

<div>
<h3>Contact</h3>
<p1>
For additional suggestions or bug reporting reach out to the developer at
<a href = "mailto: tphillipscs@gmail.com">tphillipscs@gmail.com</a>
</p1>
</div>