<h1>Login</h1>

<div id="login-screen">
<form id="login-form">
    <label>Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label>Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" id="submit-login" value="Submit">
    <button type="button" id="loginbutton" onclick="login()"></button>
</form>
</div>

<script src="js/loginfetch.js"></script>